@model IEnumerable<WineSuite.Models.Eventi>

@{
    ViewBag.Title = "Index";
}

<section class="container-fluid tableBack">
    <div class="container">
        <h2>Elenco Eventi e Degustazioni</h2>

        <p>
            @Html.ActionLink("Inserisci un nuovo Evento", "Create")
        </p>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Luogo.Descrizione)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titolo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FotoVetrina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Giorno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NrPaxMax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pubblico)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Luogo.Descrizione)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titolo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FotoVetrina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Giorno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NrPaxMax)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.Pubblico)
                    </td>
                    <td>
                        @Html.ActionLink("Modifica", "Edit", new { id = item.IdEvento }) |
                        @Html.ActionLink("Dettagli", "Details", new { id = item.IdEvento }) |
                        @if (item.Pubblico == false)
                        {
                            @Html.ActionLink("Pubblica", "Public", new { id = item.IdEvento });
                        }
                        else
                        {
                            @Html.ActionLink("Nascondi", "Hide", new { id = item.IdEvento });
                        } |
                        @Html.ActionLink("Elimina", "Delete", new { id = item.IdEvento })
                    </td>
                </tr>
            }

        </table>

    </div>
</section>