@model IEnumerable<WineSuite.Models.Prenotazione>

@{
    ViewBag.Title = "BookingForUser";
}

<div class="container cont-ev bg-black">

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="p-3 text-center pt-4">
            <p>Effettua il <a href="/Home/Login" style="color:hotpink;" onMouseOut="this.style.color='hotpink'" onMouseOver="this.style.color='deeppink'">Login</a> per poter accedere alla pagina 'Prenotazioni'</p>
        </div>
    }
    else
    {

        if (Model.Count() == 0)
        {
            <div class="p-3 text-center">
                <p>Al momento non ci sono prenotazioni</p>
                <p>Dai un'occhiata alla nostra pagina <a href="/Eventi/Events">Eventi</a></p>
            </div>
        }
        else
        {
            <h2 class="text-center">Le mie prenotazioni</h2>
            <div id="msgDelete"></div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Nr")
                    </th>
                    <th>
                        @Html.DisplayName("Evento")
                    </th>
                    <th>
                        @Html.DisplayName("Del")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Prenotanti")
                    </th>
                    <th>
                        @Html.DisplayName("Totale")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdPrenotazione)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Eventi.Titolo)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.Eventi.Giorno).ToString("dd/MM/yyyy")
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.TotPaxPrenotate)
                        </td>                       
                        <td>
                            @Html.DisplayFor(modelItem => item.TotDaPagare)
                        </td>
                        <td>
                            <input class="d-none data" id=@item.DataPrenotazione />
                            <p class="d-none titleEv">@item.Eventi.Titolo</p>
                            <div class="d-none opzPrz">
                                @foreach (var i in ViewBag.ListaTarPren)
                                {
                                    if (i.IdPrenotazione == item.IdPrenotazione)
                                    {
                                        if (i.Tariffe.DescrTariffa.Contains("Calice") && i.NrPax > 0)
                                        {
                                            <p>@i.NrPax adulti - @i.Tariffe.DescrTariffa | </p>
                                        }
                                        else if (i.Tariffe.DescrTariffa.Contains("Calici") && i.NrPax > 0)
                                        {
                                            <p>@i.NrPax adulti -@i.Tariffe.DescrTariffa |</p>
                                        }
                                        else if (i.Tariffe.DescrTariffa.Contains("Bambini") && i.NrPax > 0)
                                        {
                                            <p>@i.NrPax bambini</p>
                                        }
                                    }
                                }
                            </div>

                            <input class="d-none paxpr" id=@item.TotPaxPrenotate />
                            <a class="Details" id=@item.IdPrenotazione data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: #ffbddf; cursor:pointer">Dettagli</a>

                            <!-- Modal Details-->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="--bs-modal-bg: #ffdbf2c9">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: #29505c; font-weight: 700">Prenotazione</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="list-group fw-bold text-white UlDetails" style="--bs-list-group-bg: #fde7f2">
                                                <li class="list-group-item">Nr <span class="fw-normal spanid"></span> </li>
                                                <li class="list-group-item">Evento: <span class="fw-normal spanev"></span></li>
                                                <li class="list-group-item">Nr Partecipanti: <span class="fw-normal spanpax"></span></li>
                                                <li class="list-group-item">
                                                    Dettagli opzioni scelte:

                                                    <div class="fw-normal mt-2 detOpz">


                                                    </div>


                                                </li>
                                                <li class="list-group-item">Tot. Prenotazione: <span class="fw-normal">@Convert.ToDecimal(item.TotDaPagare).ToString("c2")</span></li>
                                                <li class="list-group-item EditPartial d-none">

                                                        <p class="editPar" style="color: #ffd4ea; font-size:12px; margin-left:10px">
                                                            <label>Note:</label>
                                                            <input class="col-8 note" name="Note" style="width:24vw"/>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary edit">Modifica Prenotazione</button>
                                            <button type="button" class="btn btn-secondary saveEdit d-none">Salva Modifiche</button>
                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal" style="color: #29505c; font-weight:700">Chiudi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            |
                            <!-- Modal Finish-->

                            <input class="d-none totpg" id=@Convert.ToDecimal(item.TotDaPagare).ToString("c2") />
                            <a class="DeleteBt" id=@item.IdPrenotazione data-bs-toggle="modal" data-bs-target="#staticBackdrop2" style="color: #f1578a; cursor:pointer">Elimina</a>

                            <!-- Modal Delete-->
                            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="--bs-modal-bg: #f1578a96">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color:white; font-weight:700">Sicuro di voler eliminare questa prenotazione?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="list-group fw-bold text-white" style="--bs-list-group-bg: #fde7f2">
                                                <li class="list-group-item">Nr <span class="fw-normal" id="spanid"></span></li>
                                                <li class="list-group-item">Evento: <span class="fw-normal" id="spanev"></span></li>
                                                <li class="list-group-item">Nr Partecipanti: <span class="fw-normal" id="spanpax"></span></li>
                                                <li class="list-group-item">Tot. Prenotazione: <span class="fw-normal" id="spantot"></span></li>
                                            </ul>
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <input class="d-none idpren" />
                                            <button type="button" class="btn btn-outline-light btnDelete" data-bs-dismiss="modal">Elimina</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Finish-->
                        </td>
                    </tr>
                }

            </table>
        }
    }
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $(".Details").click(function () {
            var arr = [];
            $(".idSp").remove();
            $(".spanev").empty()
            $(".spanpax").empty()
            $(".detOpz").empty()
            $(".editImp").empty()
            var id = $(this).attr("id");
            var data = $(this).siblings(".data").attr("id");
            var title = $(this).siblings(".titleEv").text();
            var pax = $(this).siblings(".paxpr").attr("id");
            var detprz = $(this).siblings(".opzPrz").text();
            $(".spanid").append("<span class=\"idSp\">" + id + " del " + data + "</span>");
            $(".spanev").append("" + title + "");
            $(".spanpax").append("" + pax + "");
            $(".detOpz").append("" + detprz + "");
            if(!$(".EditPartial").hasClass("d-none")) {
                $(".EditPartial").addClass("d-none");
                $(".saveEdit").addClass("d-none");
                $(".edit").removeClass("d-none");
            };
            
                $.ajax({
                    url: 'EditBook',
                    method: "GET",
                    data: {'id': id },
                    success: function (p) {
                        $.each(p, function (index, val) {
                            $(".EditPartial").append("<div class=\"container row editImp\" style=\"font-size:12px\"><span id=\""+val.IdTariffa+"\" class=\"col-7\">" + val.Tariffa + " € - " + val.DescrTariffa + "</span> <span class=\"col-5\"><input type=\"number\" " +
                                " name=\"Pax\" class=\"col-4 input-nr\" min=\"0\" value=" + val.NrPax + " /></span></div >")
                        })
                    }
                })

            $(".edit").click(function () {
                $(".EditPartial").removeClass("d-none");
                $(".saveEdit").removeClass("d-none");
                $(this).addClass("d-none");
            })
            $(".saveEdit").click(function () {
                var file = new FormData()
                var note = $(this).parent(".modal-footer").siblings(".modal-body").children(".UlDetails").children(".EditPartial").children(".editPar").children(".note").val();
                $.each($(this).parent(".modal-footer").siblings(".modal-body").children(".UlDetails").children(".EditPartial").children(".editImp"), function () {
                    var idT = $(this).children(".col-7").attr("id");
                    var nrp = $(this).children(".col-5").children("input[name=Pax]").val();
                    arr.push(idT);
                    arr.push(nrp)
                })
                file.append('note', note);
                file.append('id', id);
                file.append('arr[]', arr);
                $.ajax({
                    url: 'SaveEdit',
                    method: "POST",
                    data: file,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function () {
                        location.href = "/Prenotazione/BookingForUser";
                    },
                })
            })
        })



        $(".DeleteBt").click(function () {
            $("#idSp").remove();
            $(".idpren").empty()
            $("#spanev").empty()
            $("#spanpax").empty()
            $("#spantot").empty()
            var id = $(this).attr("id");
            var data = $(this).siblings(".data").attr("id");
            var title = $(this).siblings(".titleEv").text();
            var pax = $(this).siblings(".paxpr").attr("id");
            var totpg = $(this).siblings(".totpg").attr("id");
            $("#spanid").append("<span class=\"idSp\">" + id + " del " + data + "");
            $(".idpren").append("" + id + "");
            $("#spanev").append("" + title + "");
            $("#spanpax").append("" + pax + "");
            $("#spantot").append("" + totpg + "");
        })
        $(".btnDelete").click(function () {
            var id = $(this).siblings(".idpren").text();
            $.ajax({
                url: '/Prenotazione/Delete/' +id,
                method: "POST",
                processData: false,
                contentType: false,
                cache: false,
                success: function () {
                    $("#msgDelete").append("<div class=\"alert alert-info\">Prenotazione nr " + id +" eliminata con successo.</div>")
                    setTimeout(function () {
                        location.href = "/Prenotazione/BookingForUser";
                    }, 2500);
                },
            })
        })
        $(".collaps").click(function () {
            if ($(this).parent(".accordion-header").siblings(".accordion-collapse").toggleClass("d-none")) {

            }
        })
    })
</script>