@model IEnumerable<WineSuite.Models.Eventi>

<section class="container-fluid tableBack">
    <div class="container">
        <h2>Elenco Eventi e Degustazioni</h2>
        <p>
            @Html.ActionLink("Inserisci un nuovo Evento", "Create", "Eventi")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titolo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotPaxPrenotate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotPaxArrivate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotContanti)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotPos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotPagato)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titolo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotPaxPrenotate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotPaxArrivate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotContanti) €
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotPos) €
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotPagato) €
                    </td>
                    <td>
                        @Html.ActionLink("Gestisci Prenotazioni >>>", "ManageBooking", new { id = item.IdEvento })
                    </td>
                </tr>
            }

        </table>
    </div>
</section>